@charset "utf-8";

@font-face {
  font-family: 'JejuMy';
  font-style: normal;
  font-weight: 400;
  src: url('JejuMyeongjo-Regular.eot');
  src: url('JejuMyeongjo-Regular.eot?#iefix') format('embedded-opentype'),
       url('JejuMyeongjo-Regular.woff2') format('woff2'),
       url('JejuMyeongjo-Regular.woff') format('woff'),
       url('JejuMyeongjo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumMyR';
  src: url('NanumMyeongjoR.eot');
  src: url('NanumMyeongjoR.eot?#iefix') format('embedded-opentype'),
       url('NanumMyeongjoR.woff2') format('woff2'),
       url('NanumMyeongjoR.woff') format('woff'),
       url('NanumMyeongjoR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face { 
  font-family: 'AritaB'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face {
  font-family: 'NanumMyB';
  src: url('NanumMyeongjoB.eot');
  src: url('NanumMyeongjoB.eot?#iefix') format('embedded-opentype'),
       url('NanumMyeongjoB.woff2') format('woff2'),
       url('NanumMyeongjoB.woff') format('woff'),
       url('NanumMyeongjoB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;   
}

@font-face {
  font-family: 'NanumMyEB';
  src: url('NanumMyeongjoEB.eot');
  src: url('NanumMyeongjoEB.eot?#iefix') format('embedded-opentype'),
       url('NanumMyeongjoEB.woff2') format('woff2'),
       url('NanumMyeongjoEB.woff') format('woff'),
       url('NanumMyeongjoEB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Font - noto */
@font-face {
  font-family:'notokrR';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Sans CJK KR regular'), local('Noto Sans CJK KR-regular');
  src: url('notokr-regular.eot');
  src: url('notokr-regular.eot?#iefix') format('embedded-opentype'),
        url('notokr-regular.woff') format('woff'),
        url('notokr-regular.woff2') format('woff2'),
        url('notokr-regular.ttf') format('truetype');
}
@font-face {
  font-family:'notokrM';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Sans CJK KR medium'), local('Noto Sans CJK KR-medium');
  src: url('notokr-medium.eot');
  src: url('notokr-medium.eot?#iefix') format('embedded-opentype'),
        url('notokr-medium.woff') format('woff'),
        url('notokr-medium.woff2') format('woff2'),
        url('notokr-medium.ttf') format('truetype');
}
@font-face {
  font-family:'notokrLig';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Sans CJK KR light'), local('Noto Sans CJK KR-light');
  src: url('notokr-light.eot');
  src: url('notokr-light.eot?#iefix') format('embedded-opentype'),
        url('notokr-light.woff') format('woff'),
        url('notokr-light.woff2') format('woff2'),
        url('notokr-light.ttf') format('truetype');
}
@font-face {
  font-family:'notokrDem';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Sans CJK KR demilight'), local('Noto Sans CJK KR-demilight');
  src: url('notokr-demilight.eot');
  src: url('notokr-demilight.eot?#iefix') format('embedded-opentype'),
        url('notokr-demilight.woff') format('woff'),
        url('notokr-demilight.woff2') format('woff2'),
        url('notokr-demilight.ttf') format('truetype');
}
@font-face {
  font-family:'notokrThin';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Sans CJK KR thin'), local('Noto Sans CJK KR-thin');
  src: url('notokr-thin.eot');
  src: url('notokr-thin.eot?#iefix') format('embedded-opentype'),
        url('notokr-thin.woff') format('woff'),
        url('notokr-thin.woff2') format('woff2'),
        url('notokr-thin.ttf') format('truetype');
}
@font-face {
  font-family:'notokrBlack';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Sans CJK KR black'), local('Noto Sans CJK KR-black');
  src: url('notokr-black.eot');
  src: url('notokr-black.eot?#iefix') format('embedded-opentype'),
        url('notokr-black.woff') format('woff'),
        url('notokr-black.woff2') format('woff2'),
        url('notokr-black.ttf') format('truetype');
}
@font-face {
  font-family:'notokrBold';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Sans CJK KR bold'), local('Noto Sans CJK KR-bold');
  src: url('notokr-bold.eot');
  src: url('notokr-bold.eot?#iefix') format('embedded-opentype'),
        url('notokr-bold.woff') format('woff'),
        url('notokr-bold.woff2') format('woff2'),
        url('notokr-bold.ttf') format('truetype');
}

/* nanumSquare */
@font-face {
    font-family: 'nanumSquare';
    src: url('nanumsquarer.eot');
    src: url('nanumsquarer.eot?#iefix') format('embedded-opentype'),
         url('nanumsquarer.woff2') format('woff2'),
         url('nanumsquarer.woff') format('woff'),
         url('nanumsquarer.ttf') format('truetype'),
         url('nanumsquarer.svg#nanumsquarerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'nanumSquareB';
    src: url('nanumsquareb.eot');
    src: url('nanumsquareb.eot?#iefix') format('embedded-opentype'),
         url('nanumsquareb.woff2') format('woff2'),
         url('nanumsquareb.woff') format('woff'),
         url('nanumsquareb.ttf') format('truetype'),
         url('nanumsquareb.svg#nanumsquarebregular') format('svg');
    font-weight: normal;
    font-style: normal;

}